.divPad1 {
  display: flex;
  flex-direction: column;
}
.divTend {
  padding: 20px 0px 20px 0px;
  font-size: 40px;
  text-align: center;
  color: #F27777;
}
.divPadCajGru1 {
 
  display: flex;
  height: 300px;
  margin-bottom: 30px;
}

.divPadCajGru2 {

  display: flex;
  height: 300px;
  margin-bottom: 30px;
}

.divCat {
  padding: 20px;
  color: #F27777;
  font-size: 30px;
}
.divDire{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
