.padre{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color:#8C3E62 ;
}
.divli{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
div a{
    color: #F2C5BB;
    font-size: 18px;
    margin-right: 14px;
    padding: 8px;
    cursor: pointer;
}
div a:hover{
   color:white
}
.btn-close{
    background-color: white;
}
.modal-header{
    border: 1px 1px solid #F27777
}
.modal-content{
background-color: rgb(27, 25, 25);
}
.modal-title,.form-label{
    color: #F27777;
}
.form-control{
    background-color: #2E2140;
    border-color: #2E2140;
}