.padre {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: #2a8c82;
}
.divli {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
div a {
  color: #202426;
  text-decoration: none;
  font-size: 18px;
  margin-right: 14px;
  padding: 8px;
  cursor: pointer;
}
div a:hover {
  color: white;
}
