<div class="container  justify-content-center align-items-center col-4">
    <div class="col-auto p-4 ">
        <h3>Registro de empresas!!</h3>
        <div class=" form">
            <p>NIt:</p>
            <input type="number" class="form-control" [(ngModel)]="nit" />
            <p>Razon Social:</p>
            <input type="text" class="form-control" [(ngModel)]="razon_social" />
            <p>Descripción:</p>
            <input type="text" class="form-control" [(ngModel)]="descripcion" />


            <div class="mt-4 text-center">
                <a href="inicio">
                    <button class="btn btn-primary" (click)="registrarEmpresa()">Confirmar</button>
                </a>
            </div>
        </div>
    </div>
</div>